exportPattern(".+")

import(ape)
importFrom(XML, 'addChildren', 'replaceNodes', 'saveXML', 
                'xmlAttrs<-', 'xmlChildren', 'xmlNode', 
                'xmlRoot')
importFrom(utils, head, read.table, tail, write.table)
